<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./aboutUs/style.css">
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="menu.css">
    <title>About Us</title>
</head>

<body>
    <div class="banner center">
        <h1> Joyeaux Cafe & Restaurant </h1>
    </div>

    <div class="quote center">
        <p>established some time ago</p>
    </div>

    <div class="navigation">
        <div class="navigation__nav">
            <ul class="navigation__list">
                <li class="navigation__item"><a href="index" class="navigation__link">Home</a></li>
                <li class="navigation__item"><a href="aboutUs" class="navigation__link">About Us</a></li>
                <li class="navigation__item"><a href="menu" class="navigation__link">Menu</a></li>
                <li class="navigation__item"><a href="onlineOrdering" class="navigation__link">Online Order</a></li>
                <li class="navigation__item"><a href="gallery" class="navigation__link">Gallery</a></li>
            </ul>
        </div>
    </div>

    <div class="image team">
    </div>

    <!-- We may add more sections -->
    <div class="about-section center" id="1">
        <h2 class="about-section-heading" id="1">Some Heading 2</h2>
        <p class="about-section-description" id="1">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Gravida quis blandit turpis cursus in hac habitasse platea. Gravida neque convallis a
            cras semper auctor neque vitae tempus. Scelerisque in dictum non consectetur. Tincidunt lobortis feugiat
            vivamus at augue eget arcu. Consequat semper viverra nam libero justo laoreet sit amet cursus. Etiam non
            quam lacus suspendisse faucibus interdum posuere. Amet nisl suscipit adipiscing bibendum est ultricies
            integer quis auctor. Consequat interdum varius sit amet mattis vulputate. Non blandit massa enim nec dui
            nunc mattis.
        </p>
    </div>
</body>

<hr>

<footer>
    <div class="footerstuff center">
        <p>address: </p>
        <p>call us: </p>
        <p>email us: </p>
    </div>
</footer>

</html>