<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Joyeaux Cafe & Restaurant!</title>
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="menu.css">
</head>
<body>

    <div class="banner center">
        <h1> Joyeaux Cafe & Restaurant </h1>
    </div>

    <div class="quote center">
        <p>established some time ago</p>
    </div>

    <div class="navigation">
        <div class="navigation__nav">
            <ul class="navigation__list">
                <li class="navigation__item"><a href="index" class="navigation__link">Home</a></li>
                <li class="navigation__item"><a href="aboutUs" class="navigation__link">About Us</a></li>
                <li class="navigation__item"><a href="menu" class="navigation__link">Menu</a></li>
                <li class="navigation__item"><a href="onlineOrdering" class="navigation__link">Online Order</a></li>
                <li class="navigation__item"><a href="gallery" class="navigation__link">Gallery</a></li>
            </ul>
        </div>
    </div>

    <div class="image first">
    </div>

    <div class="center section">
            <h2>we make good food</h2>
            <p>i promise</p>
            <div>
                <a href="onlineOrdering" class="cta">Order online now!</a>
            </div>
    </div>

    <div class="image second">
    </div>

    <div class="center section">
            <h2>people like us!</h2>
            <p>i promise</p>
            <div>
                <a href="https://www.yelp.ca/biz/joyeaux-cafe-and-restaurant-vancouver" target="_blank" class="cta">Check out our reviews!</a>
            </div>
    </div>

    <div class="backToTop">
        <p>^</p>
    </div>

    
</body>

<hr>

<footer>
    <div class="footerstuff center">
        <p>address: </p>
        <p>call us: </p>
        <p>email us: </p>
    </div>
</footer>

</html>