<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Joyeaux Cafe & Restaurant!</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>

    <div class="banner center">
        <h1> Joyeaux Cafe & Restaurant </h1>
    </div>

    <div class="quote center">
        <p>established some time ago</p>
    </div>

    <div class="navbar center">
        <a href="index">home</a>
        <a href="menu">menu</a>
        <a href="aboutUs">about us</a>
        <a href="onlineOrdering">order online</a>
    </div>

    <div class="image first">
    </div>

    <div class="center section">
            <h2>we make good food</h2>
            <p>i promise</p>
            <div>
                <a href="onlineOrdering" class="cta">Order online now!</a>
            </div>
    </div>

    <div class="image second">
    </div>

    <div class="center section">
            <h2>people like us!</h2>
            <p>i promise</p>
            <div>
                <a href="https://www.yelp.ca/biz/joyeaux-cafe-and-restaurant-vancouver" target="_blank" class="cta">Check out our reviews!</a>
            </div>
    </div>

    <div class="backToTop">
        <p>^</p>
    </div>

    
</body>

<hr>

<footer>
    <div class="footerstuff center">
        <p>address: </p>
        <p>call us: </p>
        <p>email us: </p>
    </div>
</footer>

</html>