<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="menu.css">
    <title>Menu</title>
</head>
<body>

        <div class="header">
            <h1 class="heading-primary">Joyeaux Cafe & Restaurant</h1>
            <p class="header__subtext">Established with your mom at the moment</h2>
        </div>
    
    
        <div class="navigation">
            <div class="navigation__nav">
                <ul class="navigation__list">
                    <li class="navigation__item"><a href="#" class="navigation__link">About Us</a></li>
                    <li class="navigation__item"><a href="#" class="navigation__link">Menu</a></li>
                    <li class="navigation__item"><a href="#" class="navigation__link">Online Order</a></li>
                    <li class="navigation__item"><a href="#" class="navigation__link">Gallery</a></li>
                </ul>
            </div>
        </div>
    
    
        <main>
            <div class="menu">
            <h1 class="heading-primary">Menu</h1>
                <section class="section-appetizers">
                    <div class="row">
                    <h2 class="heading-secondary">Appetizers</h2>
                    <div class="col-1-of-3">
                        <ul class="appetizers__list">
                            <li class="items">
                                <p class="items__name">Pork/Beef/Chicken brochette (3 per order)</p>
                                <p class="items__price">$8.50</p>
                            </li>
                            <li class="items">
                                <p class="items__name">Vietnamese Style Gyozas</p>
                                <p class="items__price">$8.50</p>
                            </li>
                            <li class="items">
                                <p class="items__name">Calamari Plate (3 per order)</p>
                                <p class="items__price">$8.50</p>
                            </li>
                            <li class="items">
                                <p class="items__name">Meat ball salad rolls</p>
                                <p class="items__price">$4.95</p>
                            </li>
                            <li class="items">
                                <p class="items__name">Shrimp/Pork/Chicken salad rolls </p>
                                <p class="items__price">$4.95 each </p>
                            </li>
                            <li class="items">
                                <p class="items__name">Mango Basil salad rolls</p>
                                <p class="items__price">$4.95 </p>
                            </li>
                            <li class="items">
                                <p class="items__name">Shredded pork rolls</p>
                                <p class="items__price">$4.95 </p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-1-of-3">
                        <ul class="appetizers__list">
                        <li class="items">
                            <p class="items__name">Lotus  Root Salad with Shrimp & Sliced  Meat </p>
                            <p class="items__price">$8.75 </p>
                        </li>
                        <li class="items">
                            <p class="items__name">Vietnamese Chicken salad</p>
                            <p class="items__price">$8.95 </p>
                        </li>
                        <li class="items">
                            <p class="items__name">Meat & shrimp spring rolls (3 per order)</p>
                            <p class="items__price">$6.95 </p>
                        </li>
                        <li class="items">
                            <p class="items__name">Vegetable spring roils (3 per order)</p>
                            <p class="items__price">$6.95 </p>
                        </li>
                        <li class="items">
                            <p class="items__name">Deep fried wonton (shrimp or meat)</p>
                            <p class="items__price">$8.50 </p>
                        </li>
                        <li class="items">
                            <p class="items__name">Deep fried spicy tofu</p>
                            <p class="items__price"> $7.25</p>
                        </li>
                        <li class="items">
                            <p class="items__name">Spicy chicken wings or Spicy Prawns</p>
                            <p class="items__price">$9.95</p>
                        </li>
                        </ul>
                    </div>
                    <div class="col-1-of-3">
                        <ul class="appetizers__list">
                        <li class="items">
                            <p class="items__name">Skewered Chicken Breast with Satay Sauce </p>
                            <p class="items__price">$8.50</p>
                        </li>
                        <li class="items">
                            <p class="items__name">Prawn tempera</p>
                            <p class="items__price">$8.50</p>
                        </li>
                        <li class="items">
                            <p class="items__name">Assorted deep fried platter (Spring rolls, prawns, wonton or squid)</p>
                            <p class="items__price">$15.75 </p>
                        </li>
                        <li class="items">
                            <p class="items__name">Vietnamese Dumplings </p>
                            <p class="items__price"> $8.50</p>
                        </li>
                        <li class="items">
                            <p class="items__name">Grilled Beef and Vegetable Kabobs</p>
                            <p class="items__price">$8.50</p>
                        </li>
                        <li class="items">
                            <p class="items__name">Deep Fried Shrimp Balls with Corn Flakes</p>
                            <p class="items__price">$8.50</p>
                        </li>
                        <li class="items">
                            <p class="items__name">Spicy Tamarind Chicken or Shrimp</p>
                            <p class="items__price">$12.45</p>
                        </li>
                        </ul>
                    </div>
                    </div>
                </section>
    
    
                <section class="section-breakfeast">
                    <div class="row">
                    <h2 class="heading-secondary">Breakfeast</h2>
                    <div class="col-1-of-2">
                    <div class="breakfeast__eggsAnyStyle">
                        <h3 class="heading-tertiary">Eggs-Any Style</h3>
                        <ul class="breakfeast__eggsAnyStyle__list">
                            <li class="items">
                                <p class="items__name">Poache, fried or scrambled w/toast & fried potatoes</p>
                                <p class="items__price"> $ 6.95</p>
                            </li>
                        </ul>
                    </div>
                    <div class="breakfeast__sideOrders">
                        <h3 class="heading-tertiary">Side Orders</h3>
                        <ul class="breakfeast__sideOrders__list">
                            <li class="items">
                                <p class="items__name">Toast</p>
                                <p class="items__price">$3.85</p>
                            </li>
                            <li class="items">
                                <p class="items__name">Bagel</p>
                                <p class="items__price">$3.95</p>
                            </li>
                            <li class="items">
                                <p class="items__name">Bagel with cream cheese </p>
                                <p class="items__price">$5.20</p>
                            </li>
                            <li class="items">
                                <p class="items__name">Add Ham, Bacon or Sausage</p>
                                <p class="items__price">$3.00</p>
                            </li>
                        </ul>
                    </div>
                    </div>
                    <div class="col-1-of-2">
                    <div class="breakfeast__eggOmeletAnyStyle">
                        <h3 class="heading-tertiary">Egg Omelet-Any Style</h3>
                        <ul class="breakfeast__eggOmeletAnyStyle__list">
                            <li class="items">
                                <p class="items__name">Ham, cheese, mushroom, vegetables or avocado </p>
                                <p class="items__price">$10.95</p>
                            </li>
                            <li class="items">
                                <p class="items__name">Everything W/toast & fried potatoes </p>
                                <p class="items__price">$10.95</p>
                            </li>
                            <li class="items">
                                <p class="items__name">Pancake w/maple syrup & fresh fruit</p>
                                <p class="items__price">$8.50 </p>
                            </li>
                            <li class="items">
                                <p class="items__name">French toast w/ maple syrup & fresh fruit</p>
                                <p class="items__price"> $8.50</p>
                            </li>
                            <li class="items">
                                <p class="items__name">Grilled cheese sandwich </p>
                                <p class="items__price">$6.50</p>
                                <p class="items__note">Add Ham/Bacon</p>
                                <p class="items__note__price">$3.45</p>
                            </li>
                            <li class="items">
                                <p class="items__name">Porridge</p>
                                <p class="items__price">$4.75</p>
                            </li>
                        </ul>
                        </div>
                    </div>
                    </div>
                </section>
    
                <section class="section-lunchSpecial">
                    <div class="row">
                    <h2 class="heading-secondary">Lunch Special</h2>
                    <div class="col-1-of-2">
                    <ul class="lunchSpecial__list">
                        <li class="items">
                            <p class="items__name">Stir fried, sweet & sour, black bean, ginger, onion, 
                                With your choice of (Chicken, pork, beef, tofu or vegetable) </p>
                            <p class="items__price">$ 11.75</p>
                            <p class="items__note">(If you like add seafood for)</p>
                            <p class="items__note_price"> $ 4.00</p>
                        </li>
                        <li class="items">
                            <p class="items__name">Prawn, fish and seafood Served with vegetable on rice</p>
                            <p class="items__price">$14.95</p>
                        </li>
                        <li class="items">
                            <p class="items__name">Beef brisket on steamed-rice or French bread</p>
                            <p class="items__price">$11.75</p>
                        </li>
                        
                    </ul>
                    </div>
                    <div class="col-1-of-2">
                    <ul class="lunchSpecial__list">
                        <li class="items">
                            <p class="items__name">Chow Mein w/ chicken, pork, beef or seafood</p>
                            <p class="items__price">$12.95</p>
                        </li>
                        <li class="items">
                            <p class="items__name">Fried rice w/chicken, pork, beef or seafood</p>
                            <p class="items__price">$12.95</p>
                        </li>
                        <li class="items">
                            <p class="items__name">Singapore vermicelli</p>
                            <p class="items__price">$12.95</p>
                        </li>
                        <li class="items">
                            <p class="items__name">Fish & Chips</p>
                            <p class="items__price">$12.95</p>
                        </li>
                    </ul>
                    </div>
                    <!-- There's an additional note at the bottom check it on website -->
                    </div>
                </section>
    
                <section class="section-sandwiches">
                    <div class="row">
                    <h2 class="heading-secondary">Sandwiches</h2>
                    <div class="col-1-of-2">
                    <ul class="sandwiches__list">
                        <li class="items">
                            <p class="items__name">Club House</p>
                            <p class="items__price"> $9.95 </p>
                        </li>
                        <li class="items">
                            <p class="items__name">Avocado w/Shrimp or Bacon </p>
                            <p class="items__price">$8.95</p>
                        </li>
                        <li class="items">
                            <p class="items__name">Soup & Sandwich Combo </p>
                            <p class="items__price"> $11.25</p>
                        </li>
                        <li class="items">
                            <p class="items__name">Avocado w/cream cheese</p>
                            <p class="items__price">$8.95</p>
                        </li>
                        <li class="items">
                            <p class="items__name">Avocado w/egg</p>
                            <p class="items__price"> $6.95</p>
                        </li>
                        <li class="items">
                            <p class="items__name">Roast Beef  </p>
                            <p class="items__price"> $ 6.95</p>
                        </li>
                        </ul>
                    </div>
                    <div class="col-1-of-2">
                        <ul class="sandwiches__list">
                            <li class="items">
                                <p class="items__name">Vietnamese Sub Grilled Chicken/Pork</p>
                                <p class="items__price">$6.95</p>
                            </li>
                            <li class="items">
                                <p class="items__name">Chicken Salad</p>
                                <p class="items__price">$6.95</p>
                            </li>
                            <li class="items">
                                <p class="items__name">Tuna Salad</p>
                                <p class="items__price">$6.95</p>
                            </li>
                            <li class="items">
                                <p class="items__name">B.L.T. (Bacon, Lettuce, Tomato)</p>
                                <p class="items__price"> $6.95</p>
                            </li>
                            <li class="items">
                                <p class="items__name">Egg Salad</p>
                                <p class="items__price">$6.00</p>
                            </li>
                            <li class="items">
                                <p class="items__name">Vietnamese chicken breast, pork or vegetarian Sub</p>
                                <p class="items__price">$6.95</p>
                            </li>
                        </ul>
                    </div>
                    </div>
                </section>
    
                <section class="section-specialDishes">
                    <div class="row">
                    <h2 class="heading-secondary">Special Dishes</h2>
                    <h3 class="heading-tertiary">Annie's Home Cook Recipes</h3>
                    <div class="col-1-of-2">
                    <ul class="specialDishes__list">
                        <li class="items">
                            <p class="items__name">Lemongrass chicken on steam rice or vermicelli</p>
                            <p class="items__price"> $11.75</p>
                        </li>
                        <li class="items">
                            <p class="items__name">Lemongrass fish on steam rice or vermicelli</p>
                            <p class="items__price">$11.75</p>
                        </li>
                        <li class="items">
                            <p class="items__name">Lemongrass grilled pork chop an steamed rice Or vermicelli </p>
                            <p class="items__price">$11.95</p>
                        </li>
                    </ul>
                    </div>
                    <div class="col-1-of-2">
                        <ul class="specialDishes__list">
                        <li class="items">
                            <p class="items__name">Lemongrass grilled beef short ribs on steam rice or vermicelli</p>
                            <p class="items__price">$12.95</p>
                        </li>
                        <li class="items">
                            <p class="items__name">Lemongrass chicken or pork, shredded pork fried egg on rice</p>
                            <p class="items__price">$14.95</p>
                        </li>
                    </ul>
                    </div>
                </div>
                </section>
    
    
    
                <section class="section-dailySoup">
                    <div class="row">
                    <h2 class="heading-secondary">Daily Soup</h2>
                    <div class="col-1-of-3">
                        <ul class="dailySoup__name__list">
                            <li class="items">
                                <p class="items__name"> Meat Wonton Soup </p>
                                <p class="items__name">Shrimp Wonton Soup</p>
                                <p class="items__name">Daily Soups w/sandwich</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-1-of-3">
                        <ul class="dailySoup__small__price">
                            <li class="items__small__price">
                                <p class="items__small__price">(S) $6.95</p>
                                <p class="items__small__price"> (S) $6.95 </p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-1-of-3">
                        <ul class="dailySoup__large__price">
                            <li class="items__large__price">
                                <p class="items__large__price">(L) $7.95</p>
                                <p class="items__large__price"> (L) $12.25</p>
                                <p class="items__large__price">(L) $7.95</p>
                            </li>
                        </ul>
                    </div>
                    </ul>
                    
                    <!-- There's a small and large version with different prices! Make sure to make changes! -->
                    </div>
                </section>
    
    
    
    
                <section class="section-vietnameseNoodleSoup">
                    <div class="row">
                    <h2 class="heading-secondary">Vietnamese Noodle Soup</h2>
                    <div class="col-1-of-2">
                    <ul class="vietnamesNoodleSoup__list">
                            <li class="items">
                                <p class="items__name">Beef ball soup</p>
                                <p class="items__price">$11.75</p>
                            </li>
                            <li class="items">
                                <p class="items__name">Special Beef ball noodle soup</p>
                                <p class="items__price">$11.75</p>
                            </li>
                            <li class="items">
                                <p class="items__name">Chicken ball noodle soup </p>
                                <p class="items__price">$11.75</p>
                            </li>
                            <li class="items">
                                <p class="items__name">Special chicken noodle soup </p>
                                <p class="items__price">$11.75</p>
                            </li>
                            <li class="items">
                                <p class="items__name">Beef Brisket noodle soup</p>
                                <p class="items__price">$11.75</p>
                            </li>
                            <li class="items">
                                <p class="items__name">Seafood noodle soup</p>
                                <p class="items__price">$11.75</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-1-of-2">
                        <ul class="vietnamesNoodleSoup__list">
                            <li class="items">
                                <p class="items__name">Special Seafood, sliced meat noodle soup</p>
                                <p class="items__price">$11.75</p>
                            </li>
                            <li class="items">
                                <p class="items__name">Special Seafood, sliced meat noodle dry</p>
                                <p class="items__price">$11.75</p>
                            </li>
                            <li class="items">
                                <p class="items__name">Meat or shrimp wonton noodle </p>
                                <p class="items__price">$11.75</p>
                            </li>
                            <li class="items">
                                <p class="items__name">Shredded crabmeat shrimp noodle soup</p>
                                <p class="items__price">$11.75</p>
                            </li>
                            <li class="items">
                                <p class="items__name">Spicy beef, pork w/thick vermicelli noodle soup</p>
                                <p class="items__price">$11.75</p>
                            </li>
                            <li class="items">
                                <p class="items__name">Hot & Sour Soup with shrimp/fish/chicken on rice or vermicelli </p>
                                <p class="items__price">$12.95</p>
                            </li>
                        </ul>
                    </div>
                    </div>
                </section>
    
    
    
    
                <section class="section-beverages">
                    <div class="row">
                    <h2 class="heading-secondary">Beverages</h2>
                    <div class="col-1-of-3">
                        <ul class="beverages__name__list">
                            <li class="items">
                                <p class="items__name">Espresso </p>
                                <p class="items__name">Americano</p>
                                <p class="items__name">Cappuccino</p>
                                <p class="items__name">Latte</p>
                                <p class="items__name">Mocha </p>
                                <p class="items__name">Hot Chocolate</p>
                                <p class="items__name">Steamed Milk </p>
                                <p class="items__name">Dripped Coffee</p>
                                <!-- no small or large version from here on out -->
                                <p class="items__name">Vietnamese coffee</p>
                                <p class="items__name">Vietnamese Ice Mocha</p>
                                <p class="items__name">Tea assorted flavors  </p>
                                <p class="items__name">Bottled Pop or Bottled Water</p>
                                <p class="items__name">Bottled Juice (Orange, Grapefruit, and Apple) </p>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="col-1-of-3">
                        <ul class="beverages__small__price">
                            <li class="items__small__price">
                                <p class="items__small__price"> (S) $2.95</p>
                                <p class="items__small__price"> (S) $2.95  </p>
                                <p class="items__small__price"> (S) $3.75  </p>
                                <p class="items__small__price"> (S) $3.95 </p>
                                <p class="items__small__price"> (S) $3.95  </p>
                                <p class="items__small__price"> (S) $3.25 </p>
                                <p class="items__small__price">(S) $3.75 </p>
                                <p class="items__small__price"> (S) $2.95 </p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-1-of-3">
                        <ul class="beverages__large__price">
                            <li class="items__large__price">
                                <p class="items__large__price"> (L) $3.25</p>
                                <p class="items__large__price"> (L) $3.25</p>
                                <p class="items__large__price"> (L) $3.95</p>
                                <p class="items__large__price"> (L) $4.25</p>
                                <p class="items__large__price"> (L) $4.75</p>
                                <p class="items__large__price"> (L) $3.75</p>
                                <p class="items__large__price"> (L) $3.95</p>
                                <p class="items__large__price"> (L) $3.25</p>
                                <!-- no small or large version from here on out -->
                                <p class="items__large__price">(L) $4.75</p>
                                <p class="items__large__price">(L) $5.95</p>
                                <p class="items__large__price">(L) $2.25</p>
                                <p class="items__large__price">(L) $2.25</p>
                                <p class="items__large__price"> (L) $2.85</p>
                            </li>
                        </ul>
                    </div>
                    </div>
                      
                    <div class="row">
                    <div class="beverages__freshShakes">
                        <h3 class="heading-tertiary">Fresh Shakes</h3>
                        <div class="col-1-of-2">
                        <ul class="beverages__freshShakes__name__list">
                            <li class="items__name">
                                <p class="items__name">Avocado, Mango, Pineapple & Strawberry</p>
                                <p class="items__name">Red Bean & Tapioca in Coconut Milk</p>
                                
                            </li>
                        </ul>
                        </div>
                        <div class="col-1-of-2">
                            <ul class="beverages__freshShakes__price__list">
                                <li class="items__price">
                                    <p class="items__price">$5.50</p>
                                    <p class="items__price">$5.50</p>
                                </li>
                            </ul>   
                        </div>
                    </div>
                    </div>
                    
                    <div class="row">
                        <div class="beverages__freshlySqueezedJuice">
                            <h3 class="heading-tertiary">Freshly Squeezed Juice</h3>
                            <div class="col-1-of-2">
                                <ul class="beverages__freshlySqueezedJuice__name__list">
                                    <li class="items__name">
                                        <p class="items__name">Orange or Grapefruit</p>
                                        
                                    </li>
                                </ul>
                            </div>
    
                            <div class="col-1-of-2">
                                <ul class="beverages__freshlySqueezedJuice__price__list">
                                    <li class="items__price">
                                        <p class="items__price">$5.50</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="beverages__BeersWines">
                            <h3 class="heading-tertiary">Beer's & Wines</h3>
                            <div class="col-1-of-2">
                                <ul class="beverages__BeersWines__name__list">
                                    <li class="items__name">
                                        <p class="items__name">Domestic Beer</p>
                                        <p class="items__name">Imported Beer</p>
                                        <p class="items__name">Red or White Wine A Glass</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-1-of-2">
                                <ul class="beverages__BeersWines__price__list">
                                    <li class="items__price">
                                        <p class="items__price">$6.75</p>
                                        <p class="items__price">$6.75</p>
                                        <p class="items__price">$6.95</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
    
    
                <section class="section-desserts">
                    <div class="row">
                        <h2 class="heading-secondary">Desserts</h2>
                        <div class="col-1-of-2">
                        <ul class="desserts__list">
                            <li class="items">
                                <p class="items__name">Deep fried banana w/ vanilla ice cream</p>
                                <p class="items__price"> $7.75 </p>
                            </li>
                            <li class="items">
                                <p class="items__name">Flan</p>
                                <p class="items__price">$6.50</p>
                            </li>
                            <li class="items">
                                <p class="items__name">Fresh fruit & sticky rice (Strawberry or Mango)</p>
                                <p class="items__price">$7.25</p>
                            </li>
                        </ul>
                        </div>
                        <div class="col-1-of-2">
                            <ul class="desserts__list">
                            <li class="items">
                                <p class="items__name">Red Bean & Tapioca in Coconut Milk</p>
                                <p class="items__price">$6.00</p>
                            </li>
                            <li class="items">
                                <p class="items__name">Mario's Gelato Ice Cream & Yogurt (Various Flavors) </p>
                                <p class="items__price"> $7.25. </p>
                            </li>
                            <li class="items">
                                <p class="items__name">Fresh fruit salad bar</p>
                                <p class="items__small__price"> (S) $6.50 (L) $8.95</p>
                            </li>
                        </ul>
                        </div>
                    </div>
                </section> 
            </div>
        </main>
    
        <section class="section-footer">
            <p> whatever this thing should have idk </p>
        </section>
    
    
</body>
</html>